<td>{{#link-to "users.user" model}}{{model.id}}{{/link-to}}</td>
<td>{{model.name}}</td>
<td>{{model.username}}</td>
<td>{{model.email}}</td>
<td>{{model.address.street}}</td>
<td>{{model.address.suite}}</td>
<td>{{model.address.city}}</td>
<td>{{model.address.zipcode}}</td>
<td>{{model.address.geo.lat}}</td>
<td>{{model.address.geo.lng}}</td>
<td>{{model.phone}}</td>
<td>{{model.website}}</td>
<td>{{model.company.name}}</td>
<td>{{model.company.catchPhrase}}</td>
<td>{{model.company.bs}}</td>