<table id="todos">
    <tr>
        <th>Fieldname</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{model.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{model.name}}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{model.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{model.email}}</td>
    </tr>
    <tr>
        <td>Street</td>
        <td>{{model.address.street}}</td>
    </tr>
    <tr>
        <td>Suite</td>
        <td>{{model.address.suite}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{model.address.city}}</td>
    </tr>
    <tr>
        <td>Zipcode</td>
        <td>{{model.address.zipcode}}</td>
    </tr>
    <tr>
        <td>Latitutde</td>
        <td>{{model.address.geo.lat}}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{model.address.geo.lng}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{model.phone}}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{model.website}}</td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>{{model.company.name}}</td>
    </tr>
    <tr>
        <td>Company CatchPhrase</td>
        <td>{{model.company.catchPhrase}}</td>
    </tr>
    <tr>
        <td>Company BS</td>
        <td>{{model.company.bs}}</td>
    </tr>
</table>
<h3>Posts</h3>
{{user-post-view model=model.posts}}